.category {
    background-color: rgb(20, 20, 20);
}

.category h2 {
    margin: 0;
    padding: 0;
    color: white;
}

.row-posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
    gap: 10px;
}

.row-posters::-webkit-scrollbar {
    display: none;
}

.row-poster {
    object-fit: contain;
    width: 100%;
    max-height: 200px;
    transition: transform 450ms;
}

.row-poster:hover {
    transform: scale(1.08);
    opacity: 1;
}