.footer {
    background-color: black;
    color: white;
    width: 100%;
    padding: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer li{
    list-style: none;
}

.footer-social-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 4px;
}

.footer a {
    text-decoration: none;
    color: white;
    padding: 24px;
}

.footer a:hover {
    text-decoration-line: underline;
}

.footer-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 16px;
}

.service-btn {
    width: 90px;
    height: 30px;
    color: gray;
    border: 1px solid gray;
    background-color: transparent;
    text-align: center;
    font-size: 12px;
}

.service-btn:hover {
    color: white;
    cursor: pointer;
}