body {
    background-color: rgb(20, 20, 20);
}

.myList {
    background-color: rgb(20, 20, 20);
    z-index: 1;
    margin: 0;
    padding: 0;
}


.myListHeader {
    padding: 100px 0 50px 50px;
    background-color: rgb(20, 20, 20);
    font-family: inherit;
    color: white;
}

.empty-list {
    color: white;
}

.myList-container {
   min-height: 1200px;
   display: flex;
   flex-wrap: wrap;
   align-items: flex-start;
   justify-content: flex-start;
   padding-left: 100px;
}

.listContainer {
    display: flex;
    margin: 0 var(--img-gap);
    flex-grow: 1;
    transition: transform 250ms ease-in-out;
    flex-wrap: wrap;
    gap: 24px;
}