body {
    background-color: rgb(20, 20, 20);
}

.myList {
    background-color: rgb(20, 20, 20);
    z-index: 1;
    margin: 0;
    padding: 0;
}


.myListHeader {
    padding: 100px 0 50px 50px;
    background-color: rgb(20, 20, 20);
    font-family: inherit;
    color: white;
}

.myList-container {
   min-height: 1200px;
   display: flex;
   align-items: center;
   justify-content: center;
}