@font-face {
    font-family: Netflix Sans;
    src: url(../fonts/NetflixSans-Regular.woff2);
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    height: 68px;
    padding: 0 2%;
    font-family: Netflix Sans;
    font-size: 14px;
    margin-bottom: -68px;
}

.navbar a, .navbar li{
    text-decoration: none;
    list-style: none;
    color: rgba(255, 255, 255, 0.87);
}

.navbar-left, .navbar-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.navbar-link-list ul{
    display: flex;
    flex-direction: row;
    gap: 24px;
    padding: 0 0 0 10px;
}

.profile-button {
    background-image: url(https://occ-0-7290-2706.1.nflxso.net/dnm/api/v6/vN7bi_My87NPKvsBoib006Llxzg/AAAABYo85Lg8Qn22cahF2sIw7K_gDo3cGpvw3Gt5xl7FIazw864EYeVkm71Qvrlz0HP2fU4n26AVq15v5t8T4lVBpBcqqZbmRHHsMefk.png?r=1d4);
    width: 36px;
    height: 36px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid transparent;
}

.profile-button:hover {
    border: 2px solid white;
    border-radius: 4px;
}

.navbar a:hover, .navbar svg:hover {
    cursor: pointer;
    color: white;
}

.navbar a:active {
    font-size: bold;
}

